{% extends "bootstrap/base.html" %}

{% block title %}  Autists Unite {% endblock %}
<!-- this is the title of the tab, if you want to put a title
on the webpage itself, then use the h1 header -->

{% block head %}
{{super()}}
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'base.css') }}">
{% endblock %}



{% block navbar %}
<div class="navbar navbar-default">
  <div class="container-fluid">      <!-- navbar goes edge to edge -->

    <!--   Logo   -->
    <div class="navbar-header">                         <!-- navbar-header lets bootstrap know its a special item -->
      <a href="http://13.58.105.81" class = "navbar-brand">weber 3.0</a>    <!-- Styling-->
    </div>

    <!--   Menu Items   -->
    <div>
      <ul class="nav navbar-nav">
        <li class = "active"> <a href=http://13.58.105.81">Home</a></li>
        <li><a href = "http://13.58.105.81/about">About</a></li>
        <li><a href = "http://13.58.105.81/contact">Contact</a></li>
      </ul>
    </div>

  </div>
</div>
{% endblock %}

