{% extends "base.html" %}


{% block head %}
{{super()}}
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'contact.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Contact Us:</h1>
    </div>

    <div class="jumbotron">
        <p>Contact us by phone, email, or twitter using the following links:</p>
        <div class="contact-buttons">
            <p><a href="#" class="btn btn-default btn-lg" role="button">PHONE</a></p>
            <p><a href="#" class="btn btn-default btn-lg" role="button">EMAIL</a></p>
            <p><a href="#" class="btn btn-default btn-lg" role="button">TWITTER</a></p>
        </div>
        <!--note how i stupidly used the &#45;&#45;&#45;&#45; instead of spaces, well thats because-->
        <!--i tried extra spaces and html doesnt recognize but one extra space.-->
    </div>
</div>
{% endblock %}